/* vs code에  */
/* Preview on Web Server 플러그인 설치하기 */
/* => 에디터에서 작업+저장 시, 웹서버에 바로바로 적용, 자동으로 reload가 됨 */


/* <!-- 비 내리는 효과  --> */
/* <!-- https://codemyui.com/configurable-rain-effect-css/ --> */

/* <!-- z-index 적용 --> */
/* <!-- position 속성을 이용하면 요소를 겹치게 놓을 수 있습니다.  --> */
/* <!-- 이때 요소들의 수직 위치를 z-index 속성으로 정합니다.  --> */
/* <!-- 값은 정수이며, 숫자가 클 수록 위로 올라오고, 숫자가 작을 수록 아래로 내려갑니다. --> */
/* <!-- https://developer.mozilla.org/ko/docs/Web/CSS/CSS_Positioning/Understanding_z_index/Adding_z-index --> */
/* <!-- https://www.codingfactory.net/10878 --> */

/* <!-- 모서리 둥글게  --> */
/* <!-- border-radius --> */
/* <!-- https://www.codingfactory.net/10957 --> */

  /* <!-- overflow 속성은 요소의 박스에 내용이 더 길 때 어떻게 보일 지 선택하는 속성 --> */
  /* <!-- 1) visible: 기본값으로 내용이 더 길어도 그대로 보임. (내용이 흘러넘침) --> */
  /* <!-- 2) hidden: 내용이 넘치면 자름. 자른 부분은 보이지 않음. --> */
  /* <!-- 3) scroll: 내용이 넘치지 않아도 항상 스크롤 바가 보임. --> */
  /* <!-- 4) auto: 내용이 잘릴 때만 스크롤바가 보임. --> */
  /* <!-- https://aboooks.tistory.com/84 --> */


html{
	/* 연결된 구글 폰트에서 font-family 선택 */
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	/* body에 마진 없애주기 */
	margin: 0;
}

div, section, header, p, h1{
	box-sizing: border-box; /* 내부 padding이나 border가 width, height에 포함되도록 함 */
}

img{
	max-width: 100%; /* 컨테이너가 이미지보다 줄어들었을 때 이미지도 함께 줄어들게 함. */
	height: auto;
	
	/* display: flex; */
	/* justify-content: center; /*가로방향 센터정렬*/ 
	/* align-items: center; /*세로방향 센터정렬*/ 
	/* left: 0; */
}

.global-width{
	max-width: 620px; /*모바일 스마트 기기에서는 620px보다 더 작아지므로 width가 아닌 max-width를 씀 */
	margin: 0 auto; /*좌우 margin을 auto로 해서 centre 정렬*/
	padding: 0 1rem; /*좌우 여백 (1rem= 현재 폰트사이즈 16px) */
}


/* 각 이미지를 감싸는 컨테이너 */
.each-img{ 
	/* 이미지 크기에 상관없이 가운데 정렬 */
	display:flex;
	align-items: center; /*세로방향 센터정렬*/	
	justify-content: center; /*가로방향 센터정렬*/
	position: absolute; /* 이미지 겹치게 */
	left:0;
	top:0;
	/* 이미지 화면에 꽉 차게 */
	width:100%;
	height:100%;
	/* 전체 이미지는 일단 opacity 0으로 처리(=안보임), visible클래스가 붙은 애만 1로 해서(=보임)  */
	/* 스크롤 위치에 적정한 이미지-텍스트를 표시함 */
	opacity:0;
	/* 스크롤 시, 부드럽게 이미지 전환,, 너무 휙 바뀌지x */
	transition:0.5s;
}

/* 전체 이미지는 일단 opacity 0으로 처리(=안보임), visible클래스가 붙은 애만 1로 해서(=보임)  */
/* 스크롤 위치에 적정한 이미지-텍스트를 표시함 */
.visible{
	opacity: 1;
}

/* 위의 컨테이너들을 그룹화해주는 컨테이너 */
.scroll-img{
	position: sticky; /* https://tech.lezhin.com/2019/03/20/css-sticky */
	/* sticky가 적용된 컨테이너/박스는 평소 문서 안에서  */
	/* position:static 상태와 같이 일반적인 흐름에 따르지만,  */
	/* 스크롤 위치가 임계점에 이르면 position:fixed와 같이 박스를 화면에 고정할 수 있는 속성임. */
	position:sticky;
	top:0;
	height:100vh; 
	/* height: 100vh; means the height of this element is equal to 100% of the viewport height. */
	/* https://stackoverflow.com/questions/52941346/css-height-calc100vh-vs-height-100vh */
}

.scroll-text{
	position: relative; /* 이미지 위로 텍스트 올라오게 */
	/* 포지션 지정을 따로 하지 않으면 기본값이 static임. */
	/* z-index를 따로 지정하지 않으면  */
	/* 아래 행에 쓰인 애들이 앞으로 올라옴(=z-index 수치가 더 높게..) */
	/* 따라서 텍스트/글자가 이미지 위로(=앞으로) 표시 */
}

.story{
	margin-bottom: 60vh;
	background: rgba(255,255,255, 0.8); /*흰색인데 살짝 투명도를 줌 */
	padding: 0.5rem 1rem; /* 흰상자와 텍스트 사이의 여백*/
	border-radius: 10px;
	box-shadow: rgba(0,0,0,0.3) 0 0 3px; 
	/* 검정색 쉐도우. left, top 은 0, righr는 3px 정도로 살짝 퍼지게 */
}

.bg-img{
	/* viewport 사이즈 높이에 맞게 이미지 크기 알아서 조정 */
	max-height: 100vh; 
}






.caterpillar-body{
	opacity: 0;
}


.eyeBlack{
	width:15px;
	height:15px;
	background-color: black;
	top: 40px;
	left:220px;
	z-index: 3;
		position: absolute;
	border-radius: 50%;
}

.eyeWhite{
	width:30px;
	height:30px;
	background-color: white;
	top: 35px;
	left:220px;
	z-index: 2;
		position: absolute;
	border-radius: 50%;
}


.a {
	background-color: #B2CCFF;
	top: 80px;
	left: 330px;
	z-index: 4;
		width: 15%;
	height: 15%;
	border-radius: 50%;
	position: absolute;
	width: 80px;
	height: 80px;
}
.b {
	background-color: #008299;
	top: 80px;
	left: 380px;
	z-index: 5;
		width: 15%;
	height: 15%;
	border-radius: 50%;
	position: absolute;
	width: 80px;
	height: 80px;
}

.c {
	background-color: #2196F3;
	top: 20px;
	left: 200px;
	z-index: 1;
		width: 15%;
	height: 15%;
	border-radius: 50%;
	position: absolute;
	width: 80px;
	height: 80px;
}
.d {
	background-color: #1976D2;
	top: 50px;
	left: 260px;
	z-index: 2;
		width: 15%;
	height: 15%;
	border-radius: 50%;
	position: absolute;
	width: 80px;
	height: 80px;
}
.e {
	background-color: #0D47A1;
	top: 80px;
	left: 290px;
	z-index: 3;
		width: 15%;
	height: 15%;
	border-radius: 50%;
	position: absolute;
	width: 80px;
	height: 80px;
}