@charset "uft-8";

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.nanumpenscript * {
 font-family: 'Nanum Pen Script', cursive;
}

div,header,ul,li,nav{list-style: none; padding:0; margin:0;}

/*menubar*/
.menubar{
    width:100%;
    height:auto;
    background-color:white;
}

.gnb{
    background-color:gray !important;
}

.gnb > div > ul{
    float:right;
}

.gnb > div > ul > li{
    float:left;
    margin-left:1em;
    cursor:pointer;
}

.navbar{
    width:100%;
    height:15%;
}

.navbar-nav > li > a:hover{
    color:#f9a130;
}


.navli{
    text-align:right !important;
}

.nav-item{
    color:black;
    font-weight:bold;
}

.sec{
    width:100%;
    height:auto;
    margin-top:5%;
    margin-bottom:5%;
}

#sec01{
    font-size:1em;
}

.intro1 > p{
    font-size:2vw;
    font-weight:bold;
    text-align:center;
}

#sec02{
   
}

#sec03{
   
}

.tit03{
    font-family:'Nanum Pen Script' ;
    text-align:center;
    font-size:3vw;
    margin-bottom:3%;
}

.fe{
    border:3px solid navy;
    border-radius:10px;
    max-width:100%;
    min-height:300px;
    
}

#sec04{
    height:70vh;
    border:3px solid pink;
}

#sec05{
 
}

#sec05 > h2{
    text-align:center;
    font-family:'Nanum Pen Script';
    font-size:3vw;
    margin-bottom:3%;
}
.re{
    border:3px solid yellowgreen;
    border-radius:10px;
    max-width:100%;
    min-height:300px;
}

.footer{
    background-color:#2f4d71;
    color:white;
    padding-top:5rem;
    padding-bottom: 5rem;
    width:100%;
    height:auto;
    line-height:100px;
}

.lead > a{
    color:white;
}

.copyright {
    background-color: #2c3e50;
}